:root {
    --primary-color: #3F403F; /* Onyx */
    --secondary-color: #475841; /* Feldgrau */
    --accent1-color: #9FB8AD; /* Ash Gray */
    --accent2-color: #CED0CE; /* Timber Wolf */
    --heading-font: 'Sriracha', 'Brush Cript MT', Arial;
    --body-font: "Ubuntu:ital", Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

p{
    font-family: var(--body-font);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: var(--accent1-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

header img {
    grid-column: 2/3;
}

nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    color: white;
    
}

header a:hover{
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.socialmedia {
    display: flex;
    justify-content: end;
    gap: 3%;
}

.instagram {
    margin-right: 3rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

article {
    position: absolute;
    background-color: var(--primary-color);
    opacity: 1;
    top: 75px;
    right: 10px;
    color: var(--accent2-color);
    width: 250px;
    border: 1px solid black;
}
.hero article img {
    float: right;
    width: 125px;
    margin: 2px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history h2{
    grid-column: span 3;
}

.history img {
    width: 300px;
    height: auto;
}

section h2 {
    text-align: center;
}

.adventure-pics{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure-pics img{
    width: 85%;
    height: auto;
}

figure {
    text-align: center;
}

figcaption{
    text-wrap: wrap;
}

.adventure h2{
    margin-bottom: 10px;
}

footer nav{
    background-color: var(--accent1-color);
}

.contactinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0;
    
}

.contactinfo h2 {
    grid-column: 1/4;
    justify-self: stretch;
    align-self: start;
}

#address {
    grid-column: 1/2;
    grid-row: 2/3;
}

#ouremail {
    grid-column: 3/4;
    grid-row: 2/3;
}

#phone {
    grid-column: 2/3;
    grid-row: 2/3;
    
}

.map {
    grid-area: 4 / 1 / 5 / 4;
}

.contactinfo h3 {
    padding: 0.5rem;
}

.contactinfo p {
    text-align: center;
}

.teaminfo {
    display: grid;
    grid-gap: 10px;
    margin: 0;
    grid-template-columns: repeat(5, auto);
}

.teaminfo h2 {
    grid-column: 1/6;
}

.teaminfo img {
    width: 10rem;
    max-height: 234px;
}

.teaminfo p {
    text-wrap: wrap;
    text-align: center;
}

.contact h2{
   width: 824px;
   margin-bottom: 20px;
}

form {
    display: grid;
    grid-template: repeat(4, auto) / repeat(4, auto);
    grid-gap: 10px;
    font-family: var(--body-font);
}

.formname {
    grid-column: 1/3;
    margin-left: 1.5rem;
}

.formemail{
    grid-column: 3/5;
}

.formemail, .formname {
    font-size: larger;
    justify-self: left;
}

input[type=text], input[type=email] {
    font-size: large;
} 

.message {
    grid-column: 2/5;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.message label{
    margin-bottom:5px;
}

textarea {
    max-width: 528px;
}

.news {
    grid-area: 3/1/4/5;
    font-size: large;
    text-wrap: wrap;
    /* width: 175px; */
    justify-self: center;
}

.contact button {
    grid-area: 4/1/5/5;
    font-size: large;
    justify-self: center;
    padding: 5px;
}

fieldset {
    padding: 10px;
    max-width: 200px;
    justify-self: center;   
}

fieldset div {
    margin: .5rem 0;
}

#contact-header {
    position: static;
    margin: 1.5rem 0;
    border: 2px solid var(--primary-color);
    opacity: 1;
}

.wireframe {
    margin: 0 0 1rem 1rem;
    text-align: center;
}

.wireframe a {
    text-decoration: none;
    color: var(--primary-color);
}

.wireframe a:hover {
    color: var(--accent1-color)
}