:root {
    --background-color: darkblue;
    --border-color: black;
    --border_width: 1px;
}

nav {
    background-color: var(--background-color);
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border_width) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 400px;
    margin: 30px 15px;
    border: var(--border_width) solid rgb(0 0 0 / 0.2);
    padding: 5px;
    background-color: var(--background-color);
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border_width) solid var(--border-color);
    text-align: center;
}
