:root {
    --background-color: darkblue;
    --border-color: black;
    --border_width: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border_width) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 10px;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 450px;
    position: relative;
}

aside img {
    width: 400px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    right: 75px;
}

footer {
    margin-top: 20px;
    border-top: var(--border_width) solid var(--border-color);
    text-align: center;
}

li a {
    color: white
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border_width) solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
}

.temples {
    margin-top: 10px;
}